.button {
    padding: 15px 30px;
    border: 0;
    background-color: rgb(105, 114, 223);
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}